<div class="component__inner autor__inner">
    <div class="author-outside">
        <div class="author-container">
            <div class="author-icon">
                <img src="assets/icone_AUTOR.svg" alt="Ãcone" style="width: 65px;">
            </div>
            <h2>SOBRE A AUTORA</h2>
        </div>
        <div class="author-display">
            <img src="{{_graphic.src}}" alt="Foto da Autora" style="width: 200px;min-width: 200px!important;max-width: 200px;object-fit: contain;"> 
            <div class="author-box">
                <h2>{{{displayTitle}}}</h2>
                {{{body}}}
            </div>
        </div>
    </div>
</div>